{{ define "main" }}
  <div class="intro">
    <img src="/assets/images/pic-me.webp" alt="vll4di" class="picture-box" />
    <p class="intro-text">
      Welcome to my personal website! Here, you'll find my personal journey
      through the tech world, projects, and resources that I find useful.
      Feel free to explore. This site gets updated as often as I have free time.
    </p>
  </div>

  <pre class="tree">
vll4di.github.io/
├── index
├── <a href="/about/">about</a>
├── <a href="https://github.com/vll4di">github ↗</a>
├── <a href="/projects/">projects</a>
├── <a href="/posts/">blog</a>
├── <a href="/setup/">setup</a>
├── <a href="/links/">links</a>
└── <a href="/feed.xml">rss</a>
  </pre>
{{ end }}
